<h1>Editing tarea realizada</h1>

<%= render "form", tarea_realizada: @tarea_realizada %>

<br>

<div>
  <%= link_to "Mostrar tarea realizada", @tarea_realizada %> |
  <%= link_to "Volver a tarea realizadas", tarea_realizadas_path %>
</div>
