<div id="<%= dom_id escala_salarial %>">
  <p>
    <strong>Categoria:</strong>
    <%= escala_salarial.categoria %>
  </p>

  <p>
    <strong>Sueldo base:</strong>
    <%= escala_salarial.sueldo_base %>
  </p>

  <p>
    <strong>Observaciones:</strong>
    <%= escala_salarial.observaciones %>
  </p>

</div>
