<h1>Editing escala salarial</h1>

<%= render "form", escala_salarial: @escala_salarial %>

<br>

<div>
  <%= link_to "Show this escala salarial", @escala_salarial %> |
  <%= link_to "Back to escala salarials", escala_salarials_path %>
</div>
