<h1>Editar escala salarial</h1>

<%= render "form", escala_salarial: @escala_salarial %>

<br>

<div>
  <%= link_to "Mostrar este escala salarial", @escala_salarial %> |
  <%= link_to "Volver a escala salarials", escala_salarials_path %>
</div>
