<h1>Editando tipo orden servicio</h1>

<%= render "form", tipo_orden_servicio: @tipo_orden_servicio %>

<br>

<div>
  <%= link_to "Mostrar tipo orden servicio", @tipo_orden_servicio %> |
  <%= link_to "Volver a tipo orden servicios", tipo_orden_servicios_path %>
</div>
