<h1>Editing tipo tiempo muerto</h1>

<%= render "form", tipo_tiempo_muerto: @tipo_tiempo_muerto %>

<br>

<div>
  <%= link_to "Show this tipo tiempo muerto", @tipo_tiempo_muerto %> |
  <%= link_to "Back to tipo tiempo muertos", tipo_tiempo_muertos_path %>
</div>
