<h1>Editar tipo tiempo muerto</h1>

<%= render "form", tipo_tiempo_muerto: @tipo_tiempo_muerto %>

<br>

<div>
  <%= link_to "Mostrar tipo tiempo muerto", @tipo_tiempo_muerto %> |
  <%= link_to "Volver a  tipo tiempo muertos", tipo_tiempo_muertos_path %>
</div>
