<h1>Editar categorium</h1>

<%= render "form", categorium: @categorium %>

<br>

<div>
  <%= link_to "Mostrar categoria", @categorium %> |
  <%= link_to "Volver a categoria", categoria_path %>
</div>
