<h1>Editar tipo obra</h1>

<%= render "form", tipo_obra: @tipo_obra %>

<br>

<div>
  <%= link_to "Mostrar este tipo obra", @tipo_obra %> |
  <%= link_to "Volver a tipo obras", tipo_obras_path %>
</div>
