<h1>Editing parte diario</h1>

<%= render "form", parte_diario: @parte_diario %>

<br>

<div>
  <%= link_to "Show this parte diario", @parte_diario %> |
  <%= link_to "Back to parte diarios", parte_diarios_path %>
</div>
