<h1>Editar orden servicio</h1>

<%= render "form", orden_servicio: @orden_servicio %>

<br>

<div>
  <%= link_to "Mostrar este orden servicio", @orden_servicio %> |
  <%= link_to "Volver a orden servicios", orden_servicios_path %>
</div>
