<h1>Editing orden servicio</h1>

<%= render "form", orden_servicio: @orden_servicio %>

<br>

<div>
  <%= link_to "Show this orden servicio", @orden_servicio %> |
  <%= link_to "Back to orden servicios", orden_servicios_path %>
</div>
