<h1>Editar documento proyecto</h1>

<%= render "form", documento_proyecto: @documento_proyecto %>

<br>

<div>
  <%= link_to "Mostrar este documento proyecto", @documento_proyecto %> |
  <%= link_to "Volver a documento proyectos", documento_proyectos_path %>
</div>
