<h1>Editing documento proyecto</h1>

<%= render "form", documento_proyecto: @documento_proyecto %>

<br>

<div>
  <%= link_to "Show this documento proyecto", @documento_proyecto %> |
  <%= link_to "Back to documento proyectos", documento_proyectos_path %>
</div>
