<h1>Editing tiempo muerto</h1>

<%= render "form", tiempo_muerto: @tiempo_muerto %>

<br>

<div>
  <%= link_to "Show this tiempo muerto", @tiempo_muerto %> |
  <%= link_to "Back to tiempo muertos", tiempo_muertos_path %>
</div>
