<h1>Editar tiempo muerto</h1>

<%= render "form", tiempo_muerto: @tiempo_muerto %>

<br>

<div>
  <%= link_to "Mostrar tiempo muerto", @tiempo_muerto %> |
  <%= link_to "Volver a tiempo muertos", tiempo_muertos_path %>
</div>
