<div id="<%= dom_id retrabajo %>">
  <p>
    <strong>Detalle produccion:</strong>
    <%= retrabajo.detalle_produccion_id %>
  </p>

  <p>
    <strong>Motivo:</strong>
    <%= retrabajo.motivo %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= retrabajo.descripcion %>
  </p>

</div>
