<h1>Editando retrabajo</h1>

<%= render "form", retrabajo: @retrabajo %>

<br>

<div>
  <%= link_to "Mostrar retrabajo", @retrabajo %> |
  <%= link_to "Volver a retrabajos", retrabajos_path %>
</div>
