<h1>Editing retrabajo</h1>

<%= render "form", retrabajo: @retrabajo %>

<br>

<div>
  <%= link_to "Show this retrabajo", @retrabajo %> |
  <%= link_to "Back to retrabajos", retrabajos_path %>
</div>
