<h1>Editing no conformidad</h1>

<%= render "form", no_conformidad: @no_conformidad %>

<br>

<div>
  <%= link_to "Show this no conformidad", @no_conformidad %> |
  <%= link_to "Back to no conformidads", no_conformidads_path %>
</div>
