<h1>Editando no conformidad</h1>

<%= render "form", no_conformidad: @no_conformidad %>

<br>

<div>
  <%= link_to "Mostrar no conformidad", @no_conformidad %> |
  <%= link_to "Volver a no conformidads", no_conformidads_path %>
</div>
