<div id="<%= dom_id subproducto %>">
  <p>
    <strong>Nombre:</strong>
    <%= subproducto.nombre %>
  </p>

  <p>
    <strong>Producto:</strong>
    <%= subproducto.producto_id %>
  </p>

  <p>
    <strong>Area:</strong>
    <%= subproducto.sector_id %>
  </p>

</div>
