<h1>Editing subproducto</h1>

<%= render "form", subproducto: @subproducto %>

<br>

<div>
  <%= link_to "Show this subproducto", @subproducto %> |
  <%= link_to "Back to subproductos", subproductos_path %>
</div>
