<h1>Editar subproducto</h1>

<%= render "form", subproducto: @subproducto %>

<br>

<div>
  <%= link_to "Mostrar este subproducto", @subproducto %> |
  <%= link_to "Volver a subproductos", subproductos_path %>
</div>
