<h1>Editando subproducto</h1>

<%= render "form", subproducto: @subproducto %>

<br>

<div>
  <%= link_to "Mostrar subproducto", @subproducto %> |
  <%= link_to "Volver a subproductos", subproductos_path %>
</div>
