<h1>Editar detalle produccion</h1>

<%= render "form", detalle_produccion: @detalle_produccion %>

<br>

<div>
  <%= link_to "Mostrar este detalle produccion", @detalle_produccion %> |
  <%= link_to "Volver a detalle produccions", detalle_produccions_path %>
</div>
