<div id="<%= dom_id parte_produccion %>">
  <p>
    <strong>Fecha:</strong>
    <%= parte_produccion.fecha %>
  </p>

  <p>
    <strong>Jornada laboral:</strong>
    <%= parte_produccion.jornada_laboral %>
  </p>

  <p>
    <strong>Observaciones:</strong>
    <%= parte_produccion.observaciones %>
  </p>

</div>
