<h1>Editing parte produccion</h1>

<%= render "form", parte_produccion: @parte_produccion %>

<br>

<div>
  <%= link_to "Show this parte produccion", @parte_produccion %> |
  <%= link_to "Back to parte produccions", parte_produccions_path %>
</div>
