<h1>Editando parte produccion</h1>

<%= render "form", parte_produccion: @parte_produccion %>

<br>

<div>
  <%= link_to "Mostrar parte produccion", @parte_produccion %> |
  <%= link_to "Volver a parte produccions", parte_produccions_path %>
</div>
